* {
	user-select: none;
}

input {
	user-select: element !important;
}

.tab-link {
	
	&.active:not(.offline),
	&.active:not(.online) {
		background-color: rgba(1, 18, 25, 0.1);
	}
	
	&.offline {
		background-color: rgba(255, 0, 0, 0.60);
		
		&.active {
			background-color: rgba(255, 0, 0, 0.70);
		}
	}
	
	&.online {
		background-color: rgba(0, 255, 0, 0.25);
		
		&.active {
			background-color: rgba(0, 255, 0, 0.50);
		}
	}
	
	i {
		font-size: 24px;
		color: #FFFFFF;
		
		&.settings-icon {
			font-size: 26px;
			margin-top: -2px;
			margin-left: 2px;
		}
		
		&.a {
			display: inline-block;
		}
		&.b {
			display: none;
		}
	}
	
	&.active {
		
		i {
			&.a {
				display: none;
			}
			&.b {
				display: inline-block;
			}
		}
	}
}

.fw-flag {
	width: 44px;
	height: 34px;
	border: 1px solid #EEE;
}

.phone-code-selection, .language-selection {
	
	.item-title-row {
		background-position-y: 10px !important;
		
		.item-title span {
			display: block;
			font-size: 12px;
			color: #999;
		}
		
		.item-after {
			position: relative;
			top: 11px;
		}
	}
}

.content-block-16-mar {
	margin: 16px 0;
}

#select-contact {
	position: relative;
	
	i {
		position: absolute;
		font-size: 18px;
		left: 10px;
		top: 50%;
		margin-top: -10px;
	}
}

.phone-code-selection-area {
	margin-bottom: 0;
	margin-top: 0;
}

.phone-number-area {
	margin-top: -1px;
	
	ul:before {
		background: none;
		display: none;
	}
	
	i {
		font-size: 26px;
		margin-left: 7px;
		margin-top: 5px;
	}
}

.phone-info {
	border-radius: 3px;
	padding: 6px 0;
	text-align: center;
	color: #FFF;
	position: relative;
	
	i, span {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
	}
	
	i {
		font-size: 23px;
		position: absolute;
		left: 5px;
		top: 50%;
		margin-top: -12px;
	}
	
	&.phone-good {
		background: #2196F3;
		
		.icon-close {
			display: none;
		}
	}
	
	&.phone-bad {
		background: #F44336;
		
		.icon-check {
			display: none;
		}
	}
}

.mar-topbot-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.settings-icon {
	font-size: 35px;
	margin-left: 4px;
}

.settings-icon-mini {
	font-size: 25px;
	margin-left: 8px;
}

.help-request-item {
	.item-title {
		padding-left: 6px;
	}
}

.phone_number_input_wrap {
	.item-media {
		width: 46px;
	}
}

.media-list .item-media img {
  width: 60px;
}

.character-card-avatar {
  width: 60px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.character-card-title {
  font-weight: bold;
  margin: 0;
}

.character-card-subtitle {
  font-size: 13px;
  margin: 0;
}

.character-card-special {
  font-size: 13px;
  color: #757575;
  margin: 0;
}

// .stat-tracker {
//   /*line-height: 1em;*/
//  	.col {
// 	  text-align: center;
// 	  padding: 12px 0;
// 	  line-height: 2em;
// 	}

// 	.icon {
// 	  font-size: 1em;
// 	}

// 	.button {
// 	  line-height: 2em;
// 	  padding: 12px 0;
// 	  width: auto;
// 	  height: auto;
// 	  min-width: auto;
// 	  max-width: none;
// 	  min-height: auto;
// 	  max-height: none;
// 	}

// 	& .col.stat-inc,
// 	& .col.stat-dec {
// 	  padding: 0;
// 	} 
// }

$statColors: (
	might: #f44336,
	knowledge: #4caf50,
	sanity: #2196f3,
	speed: #ff9800
);

@each $statName, $colorValue in $statColors {
  .stat-tracker.#{$statName} {
  	// border-top: 6px solid $colorValue;

  	.col-25:first-child, 
  	// .swiper-slide-active,
  	.stat-title {
  		background-color: $colorValue;
  	}

  	.swiper-static-background {
  		border: 3px solid lighten($colorValue, 25%);
  		box-sizing: border-box;
  	}

  	.stat-dec, .stat-inc {
  		.button {
  			background-color: lighten($colorValue, 35%);
  			color: black;
  			border-radius: 0;
  		}
  	}

  	.stat-buttons {
  	// 	background-color: lighten($colorValue, 35%);
			// color: black;
			// border-radius: 0;
  		position: relative;
  		&:before {
  			content: "";
  			// border-left: 3px solid lighten($colorValue, 35%);
  			border-left: 1px solid rgba(0,0,0,0.1);
  			position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
  		}
  	}

  	.stat-step-start {
  		// border-bottom: 3px solid $colorValue;
  		&:after {
  			content: "";
  			// border-bottom: 3px solid $colorValue;
  			border-bottom: 2px solid rgba(0,0,0,0.3);
  			position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
  		}
  	}
  }
}

// .stat-tracker {
// 	&.speed     { .stat-step-start { background-color: lighten(map-get($statColors, speed),     45%) } }
// 	&.might     { .stat-step-start { background-color: lighten(map-get($statColors, might),     38%) } }
// 	&.sanity    { .stat-step-start { background-color: lighten(map-get($statColors, sanity),    45%) } }
// 	&.knowledge { .stat-step-start { background-color: lighten(map-get($statColors, knowledge), 45%) } }
// }

.list {
	.stat-tracker {
		&:not(:first-child) {
			// border-bottom: 1px solid rgba(0,0,0,0.1);
			border-top: 3px solid white;
		}
		&:not(:last-child) {
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}
		&.item-content {
			padding-left: 0;
		}
		.stat-title {
			font-size: 1.8em;
			color: white;
	    line-height: 28px;
	    padding: 12px 0;
	    text-align: center;
		}
		.stat-buttons {
			font-size: 0;
			line-height: 0;

			.button {
				// display: inline-block;
			  line-height: 2em;
			  padding: 12px 0;
			  // width: 50%;
			  height: auto;
			  min-width: auto;
			  max-width: none;
			  min-height: auto;
			  max-height: none;
			  .icon {
				  font-size: 1.2em;
				}
			}
		}
		.stat-swiper {
			.swiper-container {
				// background-color: #bbb;
				.swiper-static-background {
					position: absolute;
					left: calc((100% - 42px) / 2);
					top: calc((100% - 52px) / 2);
					width: 42px;
					height: 52px;
					z-index: 1000;
				}
				.swiper-wrapper {
					// background-color: white;
					.swiper-slide {
						// background-color: white;
						box-sizing: border-box;
						width: 42px;
						font-size: 16px;
						line-height: 28px;
						padding: 12px 0;
						// line-height: 2em;
						text-align: center;
						transition: background-color 100ms ease-in;

						&.stat-step-dead {
							font-size: 20px;
						}
						// &.stat-step-start:not(.stat-step-active) {
						&.stat-step-start {
							// background-color: #f0f0f0;
						}
					}
				}
			}
		}
	}

	.stat-title {
		font-size: 24px;
	}
}